<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Turbo.azWithLinq.Properties.Settings.Turbo_azConnectionString"
            connectionString="Data Source=WIN-ML3N7I995PP;Initial Catalog=Turbo.az;User ID=sa;Password=asus1212;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>